<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible">
  <meta name="theme-color" content="#FF5722">
  <!-- iOS Configuration -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="manifest" href="/js/manifest.json">
  <link rel="apple-touch-icon" href="/images/shapeit-logo-168.png">
  <link rel="apple-touch-startup-image" href="/images/shapeit-logo-192.png">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/material.min.css" media="screen" title="no title">
  <link rel="stylesheet" href="/styles/custom.css" media="screen" title="no title">
</head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Title</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only mdl-cell--hide-phone">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Title</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">

        <%- include(body) %>

      </div>
    </main>
  </div>
  <script defer src="/js/material.min.js" async></script>
  <script defer src="/js/registrant.js" async></script>
  <script defer src="/js/populator.js" async></script>
  <script defer src="/js/jquery.min.js" async>  </script>
  </body>
</html>
