<div class="mdl-grid">
  <%= %>
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <div class="mdl-card__title-text">
        Title
      </div>
    </div>
    <div class="mdl-card__supporting-text">
      Support Text
    </div>
  </div>
</div>
