<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col spinner-container">
    <!-- MDL Spinner Component with Single Color -->
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active center-block"></div>
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp cardTemplate" hidden>
    <div class="mdl-card__title">
      <div class="mdl-card__title-text userName">
      </div>
    </div>
    <div class="mdl-card__supporting-text userEmail">
    </div>
  </div>
</div>
